In [1]:
import sqlite3
connection = sqlite3.connect("my.db")

crsr = connection.cursor()

sql_command = """CREATE TABLE employees(
employee_id INTEGER PRIMARY KEY,
first_name VARCHAR[20],
last_name VARCHAR[20],
email VARCHAR[40],
phone_number INTEGER,
hire_date DATE,
job_id VARCHAR[40],
salary INTEGER,
commision INTEGER,
manager_id VARCHAR[40],

department_id VARCHAR[40]



);"""


crsr.execute(sql_command)

OperationalError: table employees already exists

In [2]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

#conn.execute('drop table Employees')
conn.execute('''CREATE TABLE Employees
         (employee_id INT PRIMARY KEY NOT NULL,
         first_name TEXT NOT NULL,
         last_name TEXT NOT NULL,
         email TEXT NOT NULL,
         phone_number INT ,
         hire_date TEXT ,
         job_id INT ,
         SALARY REAL,
         comiision REAL,
         manager_id INT,
         department_id INT);
         ''')
print("Table created successfully")
conn.execute("insert into Employees (employee_id,first_name,last_name,email) \
                VALUES(1,'abc','def','test@test.com')")
ob = conn.execute('select * from Employees')
print(*ob)

conn.close()

Opened database successfully

OperationalError: table Employees already exists

In [4]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute('drop table Employees')
conn.execute('''CREATE TABLE Employees
         (employee_id INT PRIMARY KEY NOT NULL,
         first_name TEXT NOT NULL,
         last_name TEXT NOT NULL,
         email TEXT NOT NULL,
         phone_number INT ,
         hire_date TEXT ,
         job_id INT ,
         SALARY REAL,
         comiision REAL,
         manager_id INT,
         department_id INT);
         ''')
print("Table created successfully")
conn.execute("insert into Employees (employee_id,first_name,last_name,email) \
                VALUES(1,'abc','def','test@test.com')")
ob = conn.execute('select * from Employees')
print(*ob)

conn.close()

Opened database successfully
Table created successfully
(1, 'abc', 'def', 'test@test.com', None, None, None, None, None, None, None)